.j {
    height: 200px;
    width: 90%;
    background-image: linear-gradient(90deg, rgba(144, 245, 154, 1), rgba(4, 202, 255, 1));
  }

  
  .haikei{
     text-align: center;


  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  .form1{
    margin-left: o;
  }
  .aa{
    display: block;
  }
  
  .a{
    font-size: 150%;
  }

.x{
  font-size: 170%;
}