.j {
    height: 200px;
    width: 90%;
    background-image: linear-gradient(90deg, rgba(144, 245, 154, 1), rgba(4, 202, 255, 1));
  }

  .j {
    text-align: center;
  }
  .haikei{
    text-align: center;

  }