div.yohaku{
    padding: 50px;
}

/*本テーマの学習目的*/
div.s{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.s:before, .s:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.s:before {left: 10px;}
.s:after {right: 10px;}
.s p {
    margin: 0; 
    padding: 0;
}

/*プロジェクト課題*/
div.b{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.b:before, .b:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.b:before {left: 10px;}
.b:after {right: 10px;}
.b p {
    margin: 0; 
    padding: 0;
}


div.nidasi{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: auto 0px;
    grid-gap: 20px; 
    width: auto;

   
}
/*webコンテナンツ作成成果*/
div.tatle{
color: #030816;/*文字色*/
  padding: auto 0;/*上下の余白*/
  border-top: solid 3px #060912;/*上線*/
  border-bottom: solid 3px #030509;/*下線*/
}

/*毎回の講義　枠 (1回)*/
div.soto{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.soto:before, .soto:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.soto:before {left: 10px;}
.soto:after {right: 10px;}
.soto p {
    margin: 0; 
    padding: 0;
}

 /*第一回の外枠 */
div.one {
    padding: 0.7em 1em;
    margin:  0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.one p{
    margin: 0; 
    padding: 0;
}

div.re14{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div.re15{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div.ka12{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div.ka13{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div.ka14{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

 /*第2回の外枠 */
 div.two {
    padding: 0.7em 1em;
    margin:  0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.two p{
    margin: 0; 
    padding: 0;
}

/*課題　外枠(2)*/
div.re23{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



div.ka21{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div.ka22{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

div.ka23{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*第3回の外枠 */
div.three {
    padding: 0.7em 1em;
    margin:  0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.three p{
    margin: 0; 
    padding: 0;
}
